# Environnements / secrets
.venv/
__pycache__/
*.pyc
.env

# Artefacts
*.parquet
*.pq
*.csv
*.log

# Répertoires de données
data_local/

# Fichiers de logs ou temporaires
*.log
*.tmp

# Configurations locales
.DS_Store

# Les scripts GitHub
updateGit.sh